<a href="https://www.facebook.com/share.php?u=https://{{ settings.site_url }}/" title="Post on Facebook" onclick="window.open(this.href, 'share','left=20,top=20,width=550,height=250,toolbar=1,resizable=0'); gtag('event', 'facebook-share', {'event_category' : 'social_share','event_label' : '{{ placement }}{{^placement}}Default{{/placement}}'}); return false;" target="_blank" class="{{ class }}" rel="noopener noreferrer">
  {{> facebook.svg }}Share
</a>
