<form class="action_form actionkit-widget" name="signup" action="https://ptp.actionkit.com/act/" onsubmit="this.submitted=1; return false">

  <input type="hidden" name="source" id="id_source" value="{{ source }}">

    <div id="ak-fieldbox-name" class="required">
      <label for="id_name">
        Name<span class="ak-required-flag">*</span>
        <input type="text" required name="name" id="id_name" class="ak-userfield-input">
      </label>
    </div>

    <div id="ak-fieldbox-email" class="required">
      <label for="id_email">
        Email address<span class="ak-required-flag">*</span>
        <input type="email" required name="email" id="id_email" class="ak-userfield-input">
      </label>
    </div>

    {{#if partner_field }}
      <div id="ak-fieldbox-partner-field" class="required">
        <label for="id_partner-field">
          {{ partner_field }}*
          <input type="text" required name="user_partner_field" id="id_partner-field" class="ak-userfield-input">
        </label>
      </div>
    {{/if}}

    <div id="ak-fieldbox-state" >
      <label for="id_state">
        State
        <select name="state" id="id_state">
          <option disabled selected value="">Select your state or territory</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District Of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
          <option value="AS">American Samoa</option>
          <option value="GU">Guam</option>
          <option value="MP">Northern Mariana Islands</option>
          <option value="PR">Puerto Rico</option>
          <option value="VI">Virgin Islands</option>
        </select>
      </label>
    </div>

    <div id="ak-fieldbox-address1" >
      <label for="id_address1">
        Street address<span class="ak-required-flag">*</span>
        <input type="text" required name="address1" id="id_address1" class="ak-userfield-input">
        <ul class="us-autocomplete-pro-menu" style="display:none;"></ul>
      </label>
    </div>

    <label class="label--checkbox">
      <input name="action_support" value="Volunteer" class="volunteer-toggle" class="ak-userfield-input" type="checkbox"> I want to be a poll worker
    </label>

    <label class="label--checkbox">
      <input name="action_support" value="Recruit" class="recruit-toggle" class="ak-userfield-input" type="checkbox"> I will help recruit other poll workers
    </label>

    <p class="show-recruit u_hidden">Great! Our Power to the Polls texting team will let you know how to help from home.</p>

    <p class="show-volunteer u_hidden">Great! The process to become a poll  worker varies in each community. We’ll stay in touch to help you complete the process.</p>

    <div id="ak-fieldbox-address2" >
      <input type="hidden" name="address2" id="id_address2" class="ak-userfield-input">
    </div>

    <div id="ak-fieldbox-zip">
      <input type="hidden" value="" name="zip" id="id_zip" class="ak-userfield-input">
    </div>

    <div id="ak-fieldbox-city" >
      <input type="hidden" name="city" id="id_city" class="ak-userfield-input">
    </div>

    <div id="ak-fieldbox-mobile_phone" class="show-volunteer show-recruit u_hidden">
        <label for="id_mobile_phone">
            Mobile phone
            <input type="text" name="mobile_phone" id="id_mobile_phone" class="ak-userfield-input">
        </label>
    </div>

    <div id="ak-fieldbox-action_county">
        <input type="hidden" name="action_county" id="id_action_county" class="ak-userfield-input">
    </div>

    <input type="hidden" name="country" value="United States">
    <input type="hidden" name="user_chase_enabled" value="{{ chase }}{{^chase}}true{{/chase}}">


  <button type="submit" class="button">Sign Up</button>

  <input type="hidden" name="page" value="join">


  <p class="disclaimer">
    By signing up, you agree to receive occasional emails or text messages from Power the Polls and accept our <a href="/privacy">Privacy Policy</a>. You can unsubscribe at any time. For texts, message and data rates may apply. Text HELP for Info. Text STOP to quit.
  </p>

 </form>

<div id="signup-replacement" class="u_article" style="display: none;">
  <h3>Thanks for signing up to Power the Polls!</h3>
  <div class="note">
    <p><strong>Please note:</strong> You still need to complete an application for your community!</p>
    <p>The application process for poll workers is different for every state, county, and voting territory. In the weeks ahead, Power the Polls will follow up via email and text message to make sure you complete the correct application for your community and are connected with your local election administrator.</p>
  </div>
  <h3>Invite your friends, family, or colleagues to join you:</h3>
  {{> facebook-link class='button button--post-action' }}
  {{> copy-link class='button button--post-action' }}
  {{> instagram-link class='button button--post-action' }}
  {{> twitter-link class='button button--post-action' tweet='🗳️ Join me and make sure our election runs smoothly!
🚨 Prevent voting location closures and long lines at the polls.
▶️ https://www.powerthepolls.org
#PowerThePolls' }}
</div>

<script src="https://ptp.actionkit.com/samples/widget.js"></script>

<script>
function onWidgetSubmit(form) {
  document.body.classList.add('body--submitted');
  $("html, body").animate({
    scrollTop: $('#signup-replacement').offset().top
  }, 800);
  gtag('event', 'signup', {'event_category' : 'signup','event_label' : '{{ source }}{{^source}}Homepage{{/source}}'});
  fbq('track', 'CompleteRegistration');
}
</script>
