$hamburger-padding-x           : 0; // we handle padding, not the component
$hamburger-padding-y           : 0; // we handle padding, not the component
$hamburger-layer-width         : 30px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 4px;
$hamburger-layer-color         : $color-font-primary;
$hamburger-hover-opacity       : 1;

@import "hamburgers.scss";
