:host {
   //Adapted from https://github.com/tobiasahlin/SpinKit // MIT license.
   .cube-grid {
      width: 40px;
      height: 40px;
      margin: 100px auto;

      .cube {
         width: 33%;
         height: 33%;
         float: left;
         background-color: #000;
         animation: cube-delay 1.3s infinite ease-in-out;
      }
      .cube1 {
         animation-delay: 0.2s;
      }
      .cube2 {
         animation-delay: 0.3s;
      }
      .cube3 {
         animation-delay: 0.4s;
      }
      .cube4 {
         animation-delay: 0.1s;
      }
      .cube5 {
         animation-delay: 0.2s;
      }
      .cube6 {
         animation-delay: 0.3s;
      }
      .cube7 {
         animation-delay: 0s;
      }
      .cube8 {
         animation-delay: 0.1s;
      }
      .cube9 {
         animation-delay: 0.2s;
      }
   }

   // Adapted from https://github.com/lukehaas/css-loaders // MIT License
   .spinner,
   .spinner:after {
      border-radius: 50%;
      width: 2em;
      height: 2em;
      display: inline-block;
      vertical-align: middle;
   }
   .spinner {
      margin: 0;
      font-size: 10px;
      position: relative;
      text-indent: -9999em;
      border: 0.5em solid rgba(255, 255, 255, 0.2);
      border-left: 0.5em solid #ffffff;
      transform: translateZ(0);
      animation: spinner-rotate 1.1s infinite linear;
   }
}

@keyframes spinner-rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

@keyframes cube-delay {
   0%,
   70%,
   100% {
      transform: scale3D(1, 1, 1);
   }
   35% {
      transform: scale3D(0, 0, 1);
   }
}
