<!doctype html>
<html lang="en">
<head>

	{{> header }}

</head>
<body class="body--404">

	<h1>Page not found.</h1>
	<p>Please check the link and try again.</p>

</main>

  {{> scripts }}

</body>
</html>
