*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

dist/
build/
www/
node_modules/
$RECYCLE.BIN/
.stencil/
.idea/
.sass-cache/
.versions/
.vscode/*
!.vscode/settings.json

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
tsconfig.tsbuildinfo

/power-the-polls-form/src/**/*.js.map
/power-the-polls-form/src/**/*.js
/power-the-polls-form/src/**/*.d.ts

/scripts/enrich-actionkit-data/*.js
/scripts/**/*.csv
