dist/
build/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

/power-the-polls-form/src/**/*.js.map
/power-the-polls-form/src/**/*.js
/power-the-polls-form/src/**/*.d.ts
tsconfig.tsbuildinfo
/scripts/enrich-actionkit-data/*.js

/scripts/**/*.csv
