power-the-polls-form {
   display: block;
   box-sizing: border-box;
   * {
      box-sizing: border-box;
   }

   h3 {
      margin-top: 1em;
   }

   @include form-defaults();

   p.disclaimer {
      font-size: 0.9rem;
      font-weight: normal;
   }

   .next-steps {
      p {
         clear: left;
         .number {
            margin: 0 0.5em 0.5em 0;
            border-style: solid;
            border-width: 2px;
            padding: 0.25em;
            display: block;
            width: 2.2em;
            text-align: center;
            font-size: 1.6em;
            font-weight: bold;
            float: left;
            @include on-mobile() {
               float: none;
            }
         }
      }
      &::after {
         content: "";
         display: block;
         clear: both;
      }
   }
}
