power-the-polls-form {
   display: block;

   button {
      border: 0;
      padding: 0.5em 1em;
      width: 100%;
      text-transform: uppercase;
      background-color: $color-highlight;
      color: $color-font-highlight;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      font-weight: bold;
      cursor: pointer;
      &:hover {
         opacity: 0.8;
      }
      &:focus {
         opacity: 0.6;
      }
      &:active {
         opacity: 0.4;
      }
   }

   .next-steps {
      p {
         clear: left;
         .number {
            margin: 0 0.5em 0.5em 0;
            border-style: solid;
            border-width: 2px;
            padding: 0.25em;
            display: block;
            width: 2.2em;
            text-align: center;
            font-size: 1.6em;
            font-weight: bold;
            float: left;
            @include on-mobile() {
               float: none;
            }
         }
      }
      &::after {
         content: "";
         display: block;
         clear: both;
      }
   }

   h3 {
      margin-top: 1em;
   }

   p.disclaimer {
      font-size: 0.9rem;
      font-weight: normal;
   }

   form {
      font-size: 1rem;
      padding: 1em 0;
      letter-spacing: 0;

      input,
      select {
         width: 100%;
         padding: 0.5em 0.75em;
         display: block;
      }

      select {
         padding: 0.75em;
         height: auto;
      }

      label {
         margin-bottom: 0.75em;
         display: block;
         font-size: 0.9rem;

         .checkbox {
            display: flex;
            align-items: center;

            &:first-of-type {
               margin-top: 1.5em;
            }

            input {
               transform: scale(1.5);
               flex: 0 1 1.5em;
               margin-right: 0.5em;
               z-index: -1;
            }
         }
      }
   }
}
