//
// This file is injected into all scss files -- global and component. See stencil.config.js
//

$color-background-app: #1C1834;
$color-accent: #FF5554;
$color-highlight: #444BFD;
$color-font-primary: #F5F3F1;
$color-font-accent-contrast: #1C1834;

$font-primary: 'Work Sans', monospace, sans-serif;
$font-heading: 'Oswald', monospace, sans-serif;

$max-width: 640px;
