ptp-info-jurisdiction {
   @include form-defaults();

   a.poll-worker-action {
      border: 2px solid;
      padding: 0.5em 1em;
      margin: 2rem 0;
      font-size: 1.2em;
      letter-spacing: 0.05rem;
      display: block;
      text-align: center;

      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
         opacity: 0.8;
      }
      &:focus {
         opacity: 0.6;
      }
      &:active {
         opacity: 0.4;
      }
      &.cta {
         border: 0;
         background-color: $color-highlight;
         color: $color-font-highlight-contrast;
      }
   }
}
