<footer class="footer u_article">

  <p>This work is licensed under a Creative Commons Attribution 4.0 International License.</p>
  <p>Powered by Work Elections.</p>
  <p><a href="https://www.workelections.com/" target="_blank" rel="noopener"><img src="/images/partners/work-elections.png" class="footer__logo" alt="Work Elections logo."></a></p>

</footer>
