<a href="https://www.instagram.com/p/CCEOfBrjtwg/" title="Instagram" target="_blank" rel="noopener" onclick="gtag('event', 'instagram-share', {'event_category' : 'social_share','event_label' : '{{ placement }}{{^placement}}Default{{/placement}}'});" target="_blank" class="{{ class }}" rel="noopener noreferrer">
  {{> instagram.svg }}Instagram
</a>
