<a href="https://twitter.com/intent/tweet?text={{ urlEncode tweet }}{{#unless tweet}}{{ urlEncode '' }}{{/unless}}"  onclick="window.open(this.href, 'share','left=20,top=20,width=500,height=300,toolbar=1,resizable=0'); gtag('event', 'twitter-share', {'event_category' : 'social_share','event_label' : '{{ placement }}{{^placement}}Default{{/placement}}'}); return false;" target="_blank" class="{{ class }}" rel="noopener noreferrer">

  {{> twitter.svg }}Tweet

</a>
