app-root {
   flex-grow: 1;
   display: flex;
   flex-flow: column;

   & > .container {
      flex-grow: 1;
      display: grid;
      grid-template-columns: 34% 66%;
      grid-template-rows: 100%;
      .sidebar {
         grid-column: 1;
      }
      main {
         grid-column: 2;
      }

      @include on-mobile() {
         grid-template-columns: 100%;
         .sidebar {
            display: none;
         }
         main {
            grid-column: 1;
         }
      }
   }

   main {
      padding: 0 3em;
      @include on-mobile() {
         padding: 2em;
      }

      & > .container {
         max-width: 600px;

         &:focus,
         &:active {
            outline: 0 !important;
            box-shadow: none;
         }
      }

      & > .mobile-menu {
         button::-moz-focus-inner {
            border: 0;
         }

         *:-moz-focusring {
            outline: none !important;
         }

         button:focus,
         button:active {
            outline: none !important;
            box-shadow: none;
         }

         // undo the margins from main
         margin: -4em -4em 0 -4em;
         display: none;
         @include on-mobile() {
            margin: -2em -2em 0 -2em;
            display: block;
         }
         background-color: $color-background-app;
         transition: background-color 0.2s ease-in-out;

         & > .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em 1em 0.5em 1em;
         }

         nav {
            max-height: 0;
            margin: 0;
            padding: 0 1.5em 1em 1.5em;
            transition: max-height 0.4s ease-in-out, margin 0.4s ease-in-out;
            // stencil-route class
            .hydrated {
               visibility: hidden;
            }
            ul {
               transition: top 0.3s ease-in-out, opacity 0.5s ease-in;
               opacity: 0;
               position: relative;
               top: -300px;
            }
         }

         &.is-active {
            background-color: $color-accent;
            nav {
               max-height: 300px;
               margin: 0 0 3em 0;
               ul {
                  top: 0;
                  opacity: 1;
               }
            }
            // stencil-route class
            .hydrated {
               visibility: inherit;
            }
         }
      }
   }

   footer {
      margin: 10em 0 0 0;
      font-size: 0.8em;
   }

   .sidebar {
      background-color: $color-accent;
      color: $color-font-accent-contrast;
      padding: 3em 4em 2em 2em;
      display: flex;
      justify-content: flex-end;

      & > .container {
         position: fixed;
         max-width: 300px;
      }

      .logo {
         width: 160px;
      }
   }

   nav {
      display: block;
      font-family: $font-heading;
      text-align: left;
      margin: 2em 0 3em 0;
      ul {
         padding: 0;
         margin: 0;
         list-style: none;
         li {
            margin: 0.5em 0;
            a {
               font-size: 1.3em;
               text-decoration: none;
               color: $color-font-accent-contrast;
               text-transform: uppercase;
               font-weight: bold;
               &:hover {
                  color: $color-font-accent-contrast;
                  text-decoration: underline;
               }
               &.link-active {
                  color: $color-font-primary;
               }
            }
         }
      }
   }

   .__dev {
      color: #f0f;
      background-color: #ff0;
      border-color: #0ff;
   }
}
