/*

CSS Reset/defaults
Thank you to: https://hankchizljaw.com/wrote/a-modern-css-reset/

*/

/* Box sizing rules */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Remove default padding */
/*ul[class],
ol[class] {
  padding: 0;
}*/

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

/* Set core document defaults */
html {
   scroll-behavior: smooth;
   text-rendering: optimizeLegibility;
   line-height: 1.5;
}

/* Set core body defaults */
body {
   min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
/*ul[class],
ol[class] {
  list-style: none;
}*/

/* A elements that don't have a class get default styles */
a:not([class]) {
   text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
   max-width: 100%;
   display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + *,
.u_article > * + * {
   margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

/* The "good" parts of HTML5 Boilerplate v7.0.1 */

/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

::selection {
   background: #b3d4fc;
   text-shadow: none;
}

html,
body {
   roll-behavior: smooth;
}

/*
 * A better looking default horizontal rule
 */

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
   vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
   resize: vertical;
}

/* ==========================================================================
Utility Classes
========================================================================== */

/*
 * Hide visually and from screen readers
 */

.u_hidden {
   display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.u_visually-hidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
   white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.u_visually-hidden.focusable:active,
.u_visually-hidden.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   width: auto;
   white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.u_invisible {
   visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.u_clearfix:before,
.u_clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
}
.u_clearfix:after {
   clear: both;
}

/*
*  Commonly Used Classes
*/

.u_no-br {
   white-space: nowrap;
}

.u_center {
   text-align: center;
}

.u_highlight {
   display: inline;
   background-image: linear-gradient(yellow 100%);
   background-repeat: no-repeat;
   background-size: 0% 100%;
   animation: u_highlight-keyframes 0.7s ease-out forwards;
   margin-left: -0.15em;
   margin-right: -0.15em;
   padding-left: 0.15em;
   padding-right: 0.15em;
}

@keyframes u_highlight-keyframes {
   to {
      background-size: 100% 100%;
   }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
   /* Style adjustments for high resolution devices */
}

@media print {
   *,
   *:before,
   *:after {
      background: transparent !important;
      color: #000 !important; /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
   }

   a,
   a:visited {
      text-decoration: underline;
   }

   a[href]:after {
      content: " (" attr(href) ")";
   }

   abbr[title]:after {
      content: " (" attr(title) ")";
   }

   /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

   a[href^="#"]:after,
   a[href^="javascript:"]:after {
      content: "";
   }

   pre {
      white-space: pre-wrap !important;
   }
   pre,
   blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
   }

   /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

   thead {
      display: table-header-group;
   }

   tr,
   img {
      page-break-inside: avoid;
   }

   p,
   h2,
   h3 {
      orphans: 3;
      widows: 3;
   }

   h2,
   h3 {
      page-break-after: avoid;
   }
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 35em) {
   .u_small-screen-only {
      display: none;
   }
}
