<!doctype html>
<html lang="en">
<head>

	<script>startTime=new Date()</script>

	{{> header }}

	{{> scripts }}

</head>
<body class="body">

	<main class="main">

		{{> nav }}

		<article class="body__article">

			<a href="/"><img alt="Power the Polls logo." class="logo--homepage" src="/images/logo.svg"></a>

			<h2>{{ headline }}</h2>

			<hr>

			{{{ contents }}}

		</article>

	</main>

	{{> footer }}

</body>
</html>
