page-faq {
   h3 {
      margin-top: 0em;
   }
   .section-title {
      color: $color-accent;
      margin-bottom: .5em;
   }
   h3 > a {
      fill: $color-accent;
      float: right;
      background-color: white;
      margin-right: .5em;
   }

   .toggle {
      background-color: Transparent;
      outline: none;
      border: none;
      cursor: pointer;  
      float: right;
   }

   button.cta {
      border: 0;
      background-color: $color-font-highlight-contrast;
      padding: 0.8em 1em;
      width: 75%;
      text-transform: uppercase;
      font-weight: bold;
   }
}
