page-faq {
   a > h3 {
      margin-top: 0em;
   }

   header > a {
      text-decoration: none;
   }

   button.cta {
      border: 0;
      background-color: $color-font-highlight-contrast;
      padding: 0.8em 1em;
      width: 75%;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
   }
}
