.section-title {
    color: $color-accent;
    margin-bottom: .5em;
}


.header-click-wrapper {
    display: flex;
    justify-content: space-between;
}

.icon-wrapper{
    align-self: center;
}

section { 
    max-height: 0; 
    overflow: hidden; 
    -webkit-transition: max-height 0.25s ease-in-out;
    -moz-transition: max-height 0.25s ease-in-out;
    -o-transition: max-height 0.25s ease-in-out;
    transition: max-height 0.25s ease-in-out;

    &.open { 
        max-height: 5000px; 
    } 
}

img {
    transition: transform 0.25s;
    fill: $color-accent;
    margin-right: .5em;
    background-color: Transparent;
    outline: none;
    border: none;
    cursor: pointer;  

    &.open {
        transform: rotate(180deg);
        transition:  .25s;
    }
 }

 //subsection 
.subquestion-title {
    color: $color-accent;
}

.subquestion {
    padding-bottom: 10px;
}