question-section {
   .section-title {
      color: $color-accent;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
   }

   .header-click-wrapper {
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      img {
         transition: transform 0.25s;
         fill: $color-accent;
         margin-right: 0.5em;
         background-color: Transparent;
         outline: none;
         border: none;
         cursor: pointer;

         &.open {
            transform: rotate(-180deg) !important;
         }
      }
   }

   .icon-wrapper {
      align-self: center;
   }

   section {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s ease-in-out;

      &.open {
         max-height: 5000px;
      }
   }

   //subsection
   .subquestion-title {
      color: $color-accent;
   }

   .subquestion {
      padding-bottom: 10px;
   }
}
