page-partners {
   .partner-logos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: stretch;
      justify-content: space-between;
      div {
         margin: 3em 3em 3em 1em;
         max-width: 140px;
         @include on-mobile() {
            margin: 2em 2em 2em 0.5em;
            max-width: 120px;
         }
         img {
            width: 100%;
         }
         &.dark {
            padding: 8px;
            background: white;
            border-radius: 4px;
         }
      }
   }
}
