state-info {
   .jurisdictions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: top;
      align-content: stretch;
      justify-content: space-between;
   }

   a.jurisdiction {
      display: block;
      width: 46%;
      margin: 20px 1%;
      text-decoration: none;
      border: 1px solid #000;
      padding: 8px;
   }
}
