page-form {
   display: flex;
   flex-direction: column;

   h1 {
       margin-top: 150px;

      @include on-mobile() {
         margin-top: auto;
      }
   }

   .main-logo {
      position: absolute;
      z-index: -1;
      opacity: 80%;
      max-height: 350px;
      @include on-mobile() {
         max-height: 175px;
      }
   }

   .custom-logo {
      text-align: center;
      margin: 0 0 2em 0;
      max-height: 120px;
      @include on-mobile() {
         max-height: 80px;
      }
      &.dark {
         padding: 0.25em;
         background-color: #fff;
         border-radius: 10px;
      }
   }

   .incentive-items {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      flex-wrap: wrap;

      img {
         max-height: 1.5em;
         margin-right: 8px;
      }

      h2 {
         margin-right: 0.75em;
      }

      div {
         display: flex;
         flex-direction: row;
         align-items: center;
      }
   }

   .incentive-container {
      margin-bottom: 2em;

      @include on-mobile() {
         margin-bottom: auto;
      }
   }

   .accent {
      color: $color-accent;
      margin-bottom: 0px;
   }

   .uppercase {
      text-transform: uppercase;
   }

   .impact-boxes {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      impact-box:first-child {
         grid-column: 1;
         grid-row: 1;
      }
      impact-box:last-child {
         grid-column: 2;
         grid-row: 1;
      }
      @include on-mobile() {
         grid-template-columns: 100%;
         grid-template-rows: 50% 50%;
         impact-box:first-child {
            grid-column: 1;
            grid-row: 1;
         }
         impact-box:last-child {
            grid-column: 1;
            grid-row: 2;
         }
      }
   }

   .hide-mobile {
      @include on-mobile() {
         display: none;
      }
   }

   .hide-desktop {
      display: none;

      @include on-mobile() {
         display: block;
      }
   }

   power-the-polls-form {
      button {
         background-color: $color-highlight;
         color: $color-font-primary;
         font-family: $font-heading;
      }

      footer {
         display: none;
      }

      // Hacky way to hide the form's CTA. To-do: Add a class/ID for the form to
      h3 {
         @include on-mobile() {
            display: none;
         }
      }

      form {
         text-transform: none;
         max-width: 32ch;
         @include on-mobile() {
            max-width: inherit;
         }
         font-family: $font-primary;
         color: #fff;

         label {
            text-transform: uppercase;

            input,
            select {
               text-transform: none;
               font-variant: normal;
            }
         }

         input,
         select {
            border: 0;
            &:disabled {
               color: #fff;
            }
         }
      }

      a.jurisdiction {
         border-color: $color-font-primary;
         &:hover {
            border-color: $color-accent;
         }
      }
   }
}
