page-form {
   display: flex;
   flex-direction: column;
   position: relative;

   // adjust margins of container and heading to account for PtP and partner logos
   margin-top: -3em; // undo paddding of main in app-root.scss
   @include on-mobile() {
      margin-top: auto; // not on mobile though
   }

   h1 {
      margin-top: 150px;
      @include on-mobile() {
         margin-top: auto;
      }
      &.partner {
         margin-top: auto;
      }
   }
   &.complete {
      margin-top: auto; // undo paddding of main in app-root.scss
      h1 {
         margin-top: auto;
      }
   }

   .main-logo {
      position: absolute;
      left: -3em;
      z-index: -1;
      opacity: 80%;
      &.partner {
         opacity: 0.6;
      }
      max-height: 350px;
      @include on-mobile() {
         max-height: 175px;
         left: -2rem;
      }
   }

   .partner-logo {
      align-self: flex-start;
      margin: 5em 0 2em 0;
      max-height: 80px;

      @include on-mobile() {
         max-height: 50px;
         margin: 0.5em 0 1em 0;
      }

      &.dark {
         max-height: 90px; // account for extra padding
         padding: 0.25em;
         background-color: #fff;
         border-radius: 10px;
         @include on-mobile() {
            max-height: 60px;
         }
      }
   }

   .incentive-items {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      flex-wrap: wrap;

      img {
         max-height: 1.6em;
         margin-right: 8px;
      }

      h2 {
         margin-right: 0.75em;
         font-family: $font-heading;
      }

      div {
         display: flex;
         flex-direction: row;
         align-items: center;
      }
   }

   .incentive-container {
      margin-bottom: 1em;

      @include on-mobile() {
         margin-bottom: auto;
      }
   }

   .accent {
      color: $color-accent;
      margin-bottom: 0px;
   }

   .uppercase {
      text-transform: uppercase;
   }

   .hide-mobile {
      @include on-mobile() {
         display: none;
      }
   }

   .hide-desktop {
      display: none;

      @include on-mobile() {
         display: block;
      }
   }

   power-the-polls-form {
      footer {
         display: none;
      }

      // Hacky way to hide the form's CTA. To-do: Add a class/ID for the form to
      h3 {
         @include on-mobile() {
            display: none;
         }
      }

      form {
         text-transform: none;
         max-width: 32ch;
         @include on-mobile() {
            max-width: inherit;
         }
         font-family: $font-primary;
         color: #fff;

         label {
            text-transform: uppercase;

            input,
            select {
               text-transform: none;
               font-variant: normal;
            }
         }

         input,
         select {
            border: 0;
            &:disabled {
               color: #fff;
            }
         }
      }

      button {
         background-color: $color-highlight;
         color: $color-font-primary;
         font-family: $font-heading;
      }

      // this is also used in page-jurisdiction.scss so if you change one, change the other
      a.poll-worker-action {
         font-family: $font-heading;
         border: 0;
         background-color: $color-font-primary;
         color: black;
         &.cta {
            background-color: $color-highlight;
            color: $color-font-primary;
         }
      }

      a.jurisdiction {
         border-color: $color-font-primary;
         color: $color-font-primary;
         &:hover {
            border-color: $color-accent;
            color: $color-accent;
         }
      }

      .number {
         border-color: $color-accent;
         color: $color-accent;
         font-family: $font-heading;
      }
   }
}
