page-form {
   display: flex;
   flex-direction: column;
   align-items: center;

   .main-logo {
      max-height: 380px;
      @include on-mobile() {
         max-height: 250px;
      }
      text-align: center;
      margin: 0 0 2em 0;
   }

   .impact-boxes {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 100%;
      impact-box:first-child {
         grid-column: 1;
         grid-row: 1;
      }
      impact-box:last-child {
         grid-column: 2;
         grid-row: 1;
      }
      @include on-mobile() {
         grid-template-columns: 100%;
         grid-template-rows: 50% 50%;
         impact-box:first-child {
            grid-column: 1;
            grid-row: 1;
         }
         impact-box:last-child {
            grid-column: 1;
            grid-row: 2;
         }
      }
   }

   power-the-polls-form {
      button {
         background-color: $color-highlight;
         color: $color-font-primary;
         font-family: $font-heading;
      }

      form {
         max-width: 32ch;
         @include on-mobile() {
            max-width: inherit;
         }
         font-family: $font-primary;

         label {
            color: $color-accent;
         }
      }

      a.jurisdiction {
         border-color: $color-font-primary;
         &:hover {
            border-color: $color-accent;
         }
      }

      a.poll-worker-action {
         font-family: $font-heading;
         background-color: $color-highlight;
         color: $color-font-primary;
         font-weight: bold;
         text-decoration: none;
         text-transform: uppercase;
         &.cta {
            background-color: $color-font-primary;
            color: black;
            font-family: $font-heading;
            text-transform: uppercase;
         }
      }
   }
}
