jurisdiction-info {
   a.poll-worker-action {
      border: 0;
      padding: 0.5em 1em;
      width: 100%;
      min-width: 240px;
      margin: 2rem 0;
      font-size: 1.2em;
      letter-spacing: 0.05rem;
      display: block;
      text-align: center;
      &:hover {
         opacity: 0.8;
      }
      &:focus {
         opacity: 0.6;
      }
      &:active {
         opacity: 0.4;
      }
      &.cta {
         text-transform: uppercase;
      }
   }
}
